@font-face {
  font-family: 'Sharp Grotesk Semibold';
  src: url('fonts/SharpGrotesk-Bold25.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 18px;
  font-family: 'Georgia', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

header {
  padding: 20px 0;
  text-align: center;
}

.title h1 {
  font-family: 'Sharp Grotesk Semibold', sans-serif;
  font-size: 68px;

  margin-bottom: 10px;
  color: #000;
}

.name {
  font-family: serif;
  font-size: 1.3rem;
  letter-spacing: -0.5px;
  margin-top: -1.5rem;
  text-transform: uppercase;
  line-height: 1.25;

}



.proposal {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border: 3px solid #007BFF;
  border-radius: 5px;
}

div section {
  margin-bottom: 40px;
  padding-bottom: 20px;
}

div section h2 {
  text-align: left;
  font-size: 22px;
  line-height: 1.375; 
  font-family: sans-serif; 
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

div section p {
  font-size: 18px;
  margin-bottom: 15px;
}

.gantt-container{
  position: relative;
  width: 100%;
  height: 900px;
}

iframe {
  transform: scale(0.8);
  transform-origin: 0 0;
  width: 119%;
  height: 900px;

  margin: 2.5%;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

.links a {
  color: #000;
  text-decoration: none;

}

.links a:hover {
  text-decoration: underline;
}

table {
  font-family: 'Georgia', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;

  width: 90%;
  border-collapse: collapse;
  margin: 5%;

}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.file-input {
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  border: 1px solid #007BFF;
  border-radius: 4px;
}



.btn {
  padding: 0.75rem 1.5rem;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;

  text-transform: uppercase;
  cursor: pointer;

}

.btn:hover {
  background: #0056b3;

}


.results {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}

.results li {
  background: #f9f9f9;

  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;

  text-transform: uppercase;
  font-weight: bold;
}
